{{if .Success}}
<html>
<h1>CONGRATS! ACCOUNT HAS BEEN CREATED. <a href="/">LOGIN.. </a></h1>
</html>
{{end}}

{{if .DuplicateAccount}}
<html>
<body>
<h1>Duplicate Account. Try again. <a href="/signup">Signup again. </a></h1>
</body>
</html>
{{end}}

<html>
<body>
<form id="signupForm" method="post" action="/signup">
<table style="border: black double 10px; margin: auto; vertical-align: central">
  <thead>
    <tr><th colspan="2" scope="colgroup">
                            <h1 style="">CREATE A NEW ACCOUNT</h1></th></tr>
  </thead>
  <tbody>
    <tr>
    <td><label for="j_idt5:email">Email: <span class="ui-outputlabel-rfi">*</span></label></td>
    <td><input id="j_idt5:email" name="new_email" type="text" style="border-radius: 20px;" role="textbox" aria-disabled="false" aria-readonly="false" required></td>
    </tr>
    <tr>
    <td><label for="j_idt5:fname">First Name: </label></td>
    <td><input id="j_idt5:fname" name="new_fname" type="text" style="border-radius: 20px;" role="textbox" aria-disabled="false" aria-readonly="false"></td>
    </tr>
    <tr>
    <td><label for="j_idt5:lname">Last Name: </label></td>
    <td><input id="j_idt5:lname" name="new_lname" type="text" style="border-radius: 20px;" role="textbox" aria-disabled="false" aria-readonly="false"></td>
    </tr>
    <tr>
    <td><label for="j_idt5:password">Password: <span>*</span></label></td>
    <td><input id="j_idt5:password" name="new_password" type="password" style="border-radius: 20px;" role="textbox" aria-disabled="false" aria-readonly="false" required></td>
    </tr>
    <tr>
    <td>
                        <br></td>
    <td><button  style="border-radius: 30px; background-color: black; color: white;" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">Signup</span></button></td>
    </tr>
  </tbody>
</table>
</form>
</body>
</html>
